.featured-section .site-header {
    background-color: transparent;
}

.site-header {
	background-color: #111111;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: all .2s ease-in-out;
    &.dark {
        background-color: #111111;
        transition: all .2s ease-in-out;
        > .wrap {
            border-color: transparent;
            padding: 0;
        }
    }
}

.site-header > .wrap {
    border-bottom: 1px solid #eee;
    transition: all .2s ease-in-out;
}

.header-image .site-header.dark .site-title > a {
	min-height: 60px;
}

/* ## Hero Section
--------------------------------------------- */
.hero-section {
    color: #fff;
    padding: 10% 0% 6% 0;
    background-position: center;
    background-size: cover;
    transition: all .1s ease;
    position: relative;
    text-align: center;
    background-image: url("assets/images/hero.jpg");
}

.overlay {
    position: relative;
    * {
        position: relative;
        z-index: 1;
    }
    
    &:after {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: #111;
        opacity: .4;
    }
}