/* ## Widget Area
--------------------------------------------- */

.site-header .widget-area {
	float: right;
	text-align: right;
	width: 800px;
}

.simple-social-icons {
    display: inline-block;
    transform: translateY(45%);
}